@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';

* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: block;
  background-color: #4B5960;
  color: #e5e5e5;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.section {
  padding: 20px 0 20px 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.action-button {
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  border-radius: 25px;
  padding: 10px 15px;
  background-color: #9bbd29;
  border-color: #9bbd29;
  color: white;
  text-decoration: none;
}

.action-button:hover {
  background-color: #9bbd29;
  border-color: #212121;
  color: white;
}

.action-button:active {
  background-color: #9bbd29;
  border-color: #212121;
  color: white;
}

.action-button:focus {
  background-color: #9bbd29;
  border-color: #212121;
  color: white;
}

.navigation {
  position: fixed;
  width: 100%;
  color: white;
  background-color: #9bbd29;
  height: 60px;
  z-index: 666;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.nav-logo {
  width: auto;
  height: 60px;
}

.nav-item {
  color: white;
  height: 50px;
  padding: 10px;
  font-weight: 300;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-item:hover {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.nav-item:focus {
  color: lightgrey;
  text-decoration: none;
}

.head-section {
  -moz-border-image: url('./images/bg_2.jpg');
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%), url('./images/bg_2.jpg');
  background-color: #37474f;
  height: 494px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.section-background {
  background-color: #37474f;
  height: 494px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.head-text {
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
  text-transform: uppercase;
}

@media screen and (max-width: 375px) {
  .head-text {
    font-size: 35px;
  }
}

.description {
  margin-top: 20px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
}

h3 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.section-description {
  text-align: justify;
  font-size: 20px;
  font-weight: 300;
}

.section-text {
  height: 100%;
  background-color: rgba(55, 71, 79, 0.6);
}

.stack {
  padding-top: 20px;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}

footer {
  /* background-color: #313F47; */
  color: #b0bec5;
  width: 100%;
  padding: 20 0;
  height: 60px;
}

.contact-section {
  color: white;
  background-color: #37474f;
  border-color: #37474f;
}

.contact-section a {
  color: white;
}

img {
  margin: 0 auto;
}

h4 {
  color: white;
  letter-spacing: 2px;
}


.contact-mail {
  color: #eee;
}

.contact-card {
  text-align: center;
  height: 200px;
}

.contact-card a {
  color: white;
}

.section-link {
  color: white;
}


/* OLD */













/* .nav-logo { */
/*   width: auto; */
/* } */

/* .teaser-section { */
/*   padding: 10px 0; */
/*   background-color: rgb(243, 243, 243); */
/* } */

/* .teaser-section h3 { */
/*   padding: 20px 0; */
/*   width: 100%; */
/* } */

/* .teaser-card { */
/*   height: 200px; */
/* } */

/* .t-card { */
/*   height: 100%; */
/*   text-align: center; */
/* } */

/* .t-card h4 { */
/*   text-transform: capitalized; */
/*   font-weight: normal; */
/*   letter-spacing: 2px; */
/* } */

/* .t-card-description { */
/*   font-size: 15px; */
/*   font-weight: lighter; */
/*   padding: 0; */
/* } */

/* .divider { */
/*   border-bottom: 1px solid rgba(0, 0, 0, 0.25); */
/* } */

/* .skill { */
/*   text-align: center; */
/*   margin-bottom: 10px; */
/* } */

/* .skill img { */
/*   margin: 0 auto 5px; */
/*   height: 100px; */
/*   width: 100px; */
/*   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
/*   transition: all 1s cubic-bezier(.25,.8,.25,1); */
/* } */

/* /\* .skill img:hover { *\/ */
/* /\*   box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22); *\/ */
/* /\* } *\/ */

/* .quality-description { */
/*   text-align: justify; */
/*   font-size: 18px; */
/*   font-weight: 300; */
/* } */

/* .team-section { */
/*   background-color: rgb(243, 243, 243); */
/* } */

/* .team-position { */
/*   font-size: 13px; */
/*   letter-spacing: 1px; */
/*   font-weight: 700; */
/* } */

/* .team-img img { */
/*   height: auto; */
/*   width: 80%; */
/*   object-fit: cover; */
/*   margin: 0 auto; */
/*   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
/*   transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
/* } */

/* @media screen and (max-width: 425px) { */
/*   .team-img img { */
/*     width: 100%; */
/*   } */
/* } */

/* .team-img .selected { */
/*   -ms-transform: scale(1.05, 1.05); /\* IE 9 *\/ */
/*   -webkit-transform: scale(1.05, 1.05); /\* Safari *\/ */
/*   transform: scale(1.05, 1.05); */
/*   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
/*   /\* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); *\/ */
/* } */

/* .team-img .selected:hover { */
/*   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
/*   /\* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); *\/ */
/* } */

/* .team-img .not-selected:hover { */
/*   box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22); */
/* } */

/* .team-icon { */
/*   color: black; */
/*   margin-right: 10px; */
/*   font-size: 25px; */
/* } */

/* .team-icon:visited { */
/*   color: black; */
/* } */

/* .team-description { */
/*   font-size: 17px; */
/*   font-weight: 300; */
/* } */

/* .team-stack { */
/*   letter-spacing: 2px; */
/*   font-size: 12px; */
/*   font-weight: 700; */
/*   text-transform: uppercase; */
/* } */

/* .testimonial-quote { */
/*   text-align: justify; */
/*   font-size: 20px; */
/*   font-weight: 300; */
/* } */

/* .testimonial-person { */
/*   font-weight: 300; */
/* } */

/* .t-person-name { */
/*   text-transform: uppercase; */
/*   font-weight: 700; */
/*   letter-spacing: 2px; */
/* } */

/* .contact-form-section { */
/*   color: white; */
/*   background-color: #37474f; */
/*   border-color: #37474f; */
/* } */

/* .contact-form-section input { */
/*   color: white; */
/*   background-color: #546e7a; */
/*   border-color: #546e7a; */
/* } */

/* .contact-form-section textarea { */
/*   color: white; */
/*   background-color: #546e7a; */
/*   border-color: #546e7a; */
/*   resize: none; */
/*   overflow-y: scroll; */
/*   height: 150px */
/* } */

/* .contact-form-section label { */
/*   color: white; */
/* } */

/* .contact-form-section h3 { */
/*   color: white; */
/* } */


/* .team-img:hover { */
/*   cursor: pointer; */
/* } */

/* .team-divider { */
/*   border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
/* } */

/* .team-name { */
/*   font-size: 175%; */
/*   font-weight: 300; */
/*   letter-spacing: 2px; */
/*   padding: 0 0 15px 0; */
/* } */

/* .team-nick { */
/*   font-weight: 300; */
/* } */

/* .projects-section { */
/*   background-color: rgb(243, 243, 243); */
/* } */

/* .project-small img { */
/*   margin: 0 auto; */
/*   padding: 1px; */
/*   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
/*   transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
/* } */

/* .project-small:hover img { */
/*   box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22); */
/*   cursor: pointer; */
/* } */

/* .project-img { */
/*   min-height: 100%; */
/* } */

/* .project-small .selected { */
/*   box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22); */
/* } */

/* .project-small h4 { */
/*   letter-spacing: 1.5px; */
/* } */

/* .project-small span { */
/*   font-weight: 300; */
/*   font-size: 14px; */
/*   text-align: left; */
/* } */

/* .p-description { */
/*   text-align: left; */
/* } */

/* .p-stack { */
/*   font-weight: 300; */
/*   text-align: left; */
/* } */

/* .p-head { */
/*   letter-spacing: 2px; */
/*   text-align: left; */
/*   font-size: 25px; */
/* } */

/* /\* .blog-section { *\/ */
/* /\*   background-color: rgb(243, 243, 243); *\/ */
/* /\* } *\/ */

/* .post-title { */
/*   font-weight: 300; */
/*   text-transform: uppercase; */
/*   letter-spacing: 1px; */
/*   font-size: 20px; */
/*   color: black; */
/* } */

/* .post-title:hover { */
/*   color: black; */
/*   text-decoration: none; */
/* } */

/* /\* .post { *\/ */
/* /\*   border-left: 1px solid rgba(100, 100, 100, 0.25); *\/ */
/* /\* } *\/ */

/* /\* .post:first-child { *\/ */
/* /\*   border-left: none; *\/ */
/* /\* } *\/ */

/* .blog-error { */
/*   font-weight: 300; */
/*   letter-spacing: 3px; */
/*   text-transform: uppercase; */
/*   font-size: 20px; */
/* } */

/* .post-meta { */
/*   font-weight: 300; */
/*   text-transform: uppercase; */
/* } */

/* /\* spinner loader *\/ */
/* .spinner { */
/*   width: 40px; */
/*   height: 40px; */

/*   position: relative; */
/*   margin: 65px auto 100px; */
/* } */

/* .double-bounce1, .double-bounce2 { */
/*   width: 100%; */
/*   height: 100%; */
/*   border-radius: 50%; */
/*   background-color: #eee; */
/*   opacity: 0.6; */
/*   position: absolute; */
/*   top: 0; */
/*   left: 0; */
/*   -webkit-animation: sk-bounce 2.0s infinite ease-in-out; */
/*   animation: sk-bounce 2.0s infinite ease-in-out; */
/* } */

/* .double-bounce2 { */
/*   -webkit-animation-delay: -1.0s; */
/*   animation-delay: -1.0s; */
/* } */

/* @-webkit-keyframes sk-bounce { */
/*   0%, 100% { -webkit-transform: scale(0.0) } */
/*   50% { -webkit-transform: scale(1.0) } */
/* } */

/* @keyframes sk-bounce { */
/*   0%, 100% { */
/*     transform: scale(0.0); */
/*     -webkit-transform: scale(0.0); */
/*   } 50% { */
/*     transform: scale(1.0); */
/*     -webkit-transform: scale(1.0); */
/*   } */
/* } */
